.main{
  flex-grow: 1;
}

.grid{
  padding-top: 2em;
}

.littleGrid { 
  cursor:pointer;
 }

.paper {
  padding: 2em;
  text-align: center;
}

.link {
  text-decoration: none
}

.progress {
  margin: 2em;
}

.progressDiv {
  text-align: center;
  margin-top: 3rem;
}

/* for card */

.card {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.cover {
  width: 30%;
  background-size: contain;
}

.disableCover{
  width: 30%;
  background-size: contain;
  filter: grayscale(0.8);
}

.disableCover:hover{
  transition: all ease 1s;
  filter: none;
}


.controls {
  display: flex;
  align-items: center;
  padding-left:1em;
  padding-bottom:1em;
}

.playIcon {
  height: 38px;
  width: 38px;
}
